[Unit]
Description=wario
Documentation=https://github.com/clucidojr123/Ludvig
After=network.target

[Service]
Environment=PORT=3001
Environment=LUIGI_URI=ws://localhost:49154
Environment=ORIGIN=http://gigabossofswag.cse356.compas.cs.stonybrook.edu
Environment=MONGO_URI=mongodb://localhost:49153/ludvig
Environment=S3_URI=localhost
Type=simple
User=root
ExecStart=/usr/bin/node /root/Ludvig/wario/dist/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target